@import url('font.css');
@font-face { 
    font-family: hafa; 
    src: url('font/LeaveNoFingerprints.ttf'); 
} 
@font-face { 
    font-family: nom; 
    src: url('font/Katalyn.otf'); 
}
@font-face { 
    font-family: text; 
    src: url('font/Athena-Regular.ttf'); 
}
@font-face { 
    font-family: date; 
    src: url('font/Silent-Echo.otf'); 
}
body {
    font-size: 15px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    background: rgb(0, 37, 53);
    color: white;
}

header {
    text-align: center;
    /*margin-top: 1em;*/
    height: 32px;
    background: #077160de;
}
.gaucheListe {
    width: 100%;
    height: 28px;
    padding-top: 0.5em;
   
    position: relative;
    text-align: left;
}
.profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 6px 36px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 36px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 36px -8px rgba(0,0,0,0.75);
}
.content {
    text-align: center;
}

.gaucheListe .about {
    border: 1px solid white;
    border-left: none;
    border-radius: 0 20px 20px 0;
    padding: 0.4em 0.4em 0.4em 0;
    background: #077160de;
    /*position: fixed;
    z-index: 2;*/
}
.gaucheListe .menu {
    position: absolute;

}
.gaucheListe:hover .menu {
    left: 25px;
    display: inline-block;
}
.gaucheListe .menu {
    display: inline-block;
    left: -5000px;
}
.gaucheListe .menu ul {
    margin: 0;
}
.gaucheListe .menu ul li {
    display: inline-block;
    margin-right: 10px;
}
.gaucheListe .menu ul li a{
    text-decoration: none;
    color: white;
}

.nom {
    margin-top: 1.6em;
    margin-bottom: 2em;
    font-family: text;
    font-size: 2em;
    line-height: 1em;
}
.fa-laptop-code {
    font-size: 2.5em;
    color: #077160de;
}
.titre {
    margin-top: 1.3em;
}
.titreTexte{
    padding-bottom: 1em;
    padding-top: 1em;
    text-shadow: 3px -8px 7px rgba(0, 0, 0, 1);
	color: #F6FAEB;
    font-size: 1.3em;
    
}

.content {
    line-height: 1.2em;
    padding: 1em 0.6em;
    min-height: calc(100vh - 32px);
}
/***** diplom *****/
.diplom {
    overflow: auto;
    background: #077160de; /*#423b00;*/
}
.diplom h2{
    margin-top: 0.5em;
    margin-bottom: 1.2em;
}
.diplom .diplom-item {
    margin-bottom: 0.8em;
    width: 75%;
    border: 1px solid white;
    display: inline-block;
    background: rgba(48, 79, 93, 0.29);
    border: 1px groove rgb(48, 79, 93);   
}
.diplom .gauche {
    float: left;
    padding: 0.4em 0.3em 0.4em 0.3em;
    border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
}
.diplom .droite {
    float: right;
    padding: 0.4em 0.3em 0.4em 0.3em;
    border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
    
}
.diplom .diplom-item .date {
    display: block;
    margin-bottom: 0.2em;
    font-family: date;
    font-size: 1.3em;
}
/***** fin diplom *****/

/***** compétences *****/

.competence {
    background: white;
    color: rgb(0, 37, 53);
}
.competence .section_title h2 {
    margin-bottom: 2em;
}
.progress-bar {
    width: 80%;
}
.competence .progress-bar h3 {
    text-align: left;
    font-size: 1em;
}
.competence .progress-bar .test {
    background: rgb(0, 37, 53);
    height: 1.7em;
    width: 100%;
    margin: 0;
    padding: 0;
}
.competence .progress-bar .test .sous-test{
    background: #077160de;
    height: 1.1em;
    margin: 0;
    padding: 0.3em;
    color: white;
    text-align: right;
}
.competence .progress-bar .test .st-1 {
    width: 75%;
}
.competence .progress-bar .test .st-2 {
    width: 50%;
}
.competence .progress-bar .test .st-3 {
    width: 60%;
}
.competence .progress-bar .test .st-4 {
    width: 75%;
}
/***** fin compétences *****/

/***** experience *****/
 
.about-us {
    padding: 1em;
    overflow: auto;
}
.about-us .info1 {
    display: block;
    width: 100%;
}
.about-us .section_title{
    margin-bottom: 2.5em;
}
.about-us .info1 .info-text {
    float: left;
    width: 60%;
    text-align: left;
}
.about-us .info1 .info-text h3{
    font-family: date;
    margin: 0;
    padding: 0;
}
.about-us .info1 .info-img {
    margin-right: 0.5em;
    float: left;
    width: 35%;
}
.about-us .info1 .info-img img {
    width: 80px;
    border-radius: 50%;
    height: 80px;
    margin-top: 0.3em;
}
/***** fin experience *****/
/***** contact *****/
.contact {
    background: white;
    color: rgb(0, 37, 53);
}
.contact h2 {
    margin-top: 3em;
    margin-bottom: 2em;
}
.contact .contact-item {
    margin-left: 0.5em;
    text-align: left;
    padding: 1em 0.6em; 
}
.contact .contact-item span{
    margin-left: 1em;
}
.contact .contact-item a{
    text-decoration: none;
    color: rgb(0, 37, 53);
}
.contact .r-sociaux{
    text-align: center;
    margin-top: 3em;
}
.contact .r-sociaux a{
    display: inline-block;
    width: 40px;
    height: 40px; 
    border : 1px solid rgb(48, 79, 93);
    border-radius: 50%;
    text-align: center;
    padding: 0.5em 0.4em 0.2em 0.4em;
    font-size: 2em;
}
/***** fin experience *****/
footer {
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
    position : sticky;
    background: #077160de;
}
footer div {
    padding-top: 1.2em;
}

@media (min-width: 389px) {
    body {
        background-color: red;
    }
}